body{
    text-align: justify;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}


div{
    margin-top: 100px;
    text-align: center;
}

.center{
    text-align: center;
}

#jazyk{
    position: absolute;
    top: 10px;
    right: 10px;
}
